<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>Document</title>
    
  </head>
  <body
    
    data-bs-spy="scroll"
    data-bs-target="#sidebarNav"
    data-bs-offset="100"
    tabindex="0"
  >
    <div class="d-flex">
      <!-- Sidebar -->
      <div
        class="bg-dark text-white p-3  transition-all position-fixed vh-100"
        id="sidebar"
        style="min-width: 250px"
      >
        <div class="d-flex justify-content-end mb-3">
          <button class="btn btn-outline-light btn-sm" id="btnCollapse">
            <i class="bi bi-list"></i> ☰
          </button>
        </div>
        <h4 class="text-center mb-4 sidebar-text">Control Panel</h4>
        <ul class="nav nav-pills flex-column mb-auto " id="sidebarNav">
         
          <li>
            <a
              href="#Control"
              class="nav-link text-white d-flex align-items-center"
            >
              <span class="me-2"><i class="fa-solid fa-gears"></i></span>
              <span class="sidebar-text">Control</span>
            </a>
          </li>
           <li class="nav-item">
            <a
              href="#Dashboard"
              class="nav-link text-white d-flex align-items-center"
            >
              <span class="me-2"><i class="fa-solid fa-sliders"></i></span>
              <span class="sidebar-text">Dashboard</span>
            </a>
          </li>
         
        </ul>
        <div class="mt-3 sidebar-text">
          <h6 class="text-uppercase text-secondary">Line Status</h6>
          <div class="bg-secondary rounded p-3 mt-2">
            <p class="mb-1">
              Status:
              <span class="badge bg-success" id="lineStatus">Loading...</span>
            </p>
          </div>
        </div>
      </div>
      <!-- Main Content -->
      <div class="container " >

  <div class="main-content flex-grow-1">

<section id="Control" class=" p-4 ">
    <div class="flex-grow-1 p-4">
  <h2 class="mb-4 text-center">Control Panel</h2>

  <div class="row g-4">

    <!-- Line 1 -->
    <div class="col-lg-4 col-md-6">
      <div class="card control-card text-center p-4">
        <i class="fa-solid fa-industry fa-2x mb-3"></i>
        <h5>Line 1</h5>
        <br />
<button class="btn btn-danger" id="toggleMainBtn" onclick="toggleMotor('main', toggleMainBtn)">Stop</button>

      </div>
    </div>

    <!-- Line 2 -->
    <div class="col-lg-4 col-md-6">
      <div class="card control-card text-center p-4">
        <i class="fa-solid fa-industry fa-2x mb-3"></i>
        <h5>Line 2</h5>
        <br />
<button class="btn btn-danger" id="toggleBadBtn" onclick="toggleMotor('bad', toggleBadBtn)">Stop</button>

      </div>
    </div>

    <!-- Motor -->
    <div class="col-lg-4 col-md-6">
      <div class="card control-card text-center p-4">
        <i class="fa-solid fa-gears fa-2x mb-3"></i>
        <h5>Feeding Motor</h5>
        <br />
<button 
    class="btn btn-danger" 
    id="togglePusherBtn" 
    onclick="togglePusher(this)">
    RUN PUSHER
</button>      </div>
    </div>

    
    <!-- Emergency Stop Card -->
    <div class="col-lg-4 order-lg-2" >
     <div class="card text-center p-4 bg-danger text-white" style="height:350px;">
       
       <h5><i class="fa-solid fa-hand-paper  mb-2 d-inline "></i> EMERGENCY STOP</h5>
        <hr>
        <p class="my-4 text-muted emergency">Clicking the button below will immediately stop all lines and the feeding motor.</p>
        <hr>
       <button class="btn btn-danger" id="emergencyBtn" onclick="emergencyStop()">STOP ALL</button>
     </div>
    </div>



    <!-- live card -->
    <div class="card col-lg-8 order-lg-1 text-center p-4" style="height:350px; overflow:hidden;">
  <h5><i class="fa-solid fa-tv"></i> Live</h5>
  <hr>
  <div style="height:100%; display:flex; justify-content:center; align-items:center;">
    <img src="http://192.168.137.238:5000/video_feed" style="max-height:100%; max-width:100%; object-fit:contain;"  />
  </div>
</div>
    
  </div>
</div>


  </section>



   <section id="Dashboard" class="p-4">
  <div class="text-center Dashboard">
    <h2>Dashboard</h2>

    <div class="mt-2 row g-4">
      <div class="col-lg-3">
        <div class="card p-3 h-100">
          <h3 class="fs-5 opacity-75"> <i class="fa-solid fa-boxes-stacked"></i> Total Boxes</h3>
          <span class="fs-3 card-text text-black fw-bold" id="TotalBoxes"><div class="loader"></div></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card p-3 h-100">
          <h3 class="fs-5 opacity-75"><i class="fa-solid fa-box-open text-success"></i> Valid Boxes</h3>
          <span class="fs-3 text-success fw-bold" id="ValidBoxes"><div class="loader"></div></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card p-3 h-100">
          <h3 class="fs-5 opacity-75"><i class="fa-solid fa-boxes-packing text-danger"></i> Invalid Boxes</h3>
          <span class="fs-3 text-danger fw-bold" id="InvalidBoxes"><div class="loader"></div></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card p-3 h-100">
          <h3 class="fs-5 opacity-75"><i class="fa-solid fa-exclamation-triangle text-warning"></i> Defect Rate</h3>
          <span class="fs-3 text-warning fw-bold" id="DefectRate"><div class="loader"></div></span>
        </div>
      </div>
    </div>

    <div class="mt-4 row g-4">
      <div class="col-lg-9">
        <div class="row g-4">
          <div class="col-lg-12">
            <div class="card p-3 chart-wrapper">
  <div class="chart-container chart-scroll">
    <canvas id="lineChart"></canvas>
  </div>
</div>
          </div>
          <div class="col-lg-12">
           <!-- Bar Chart -->
    <div class="card p-3 chart-wrapper">
  <div class="chart-container">
    <canvas id="barChart"></canvas>
  </div>
</div>
          </div>
        </div>
      </div>

       <!-- RIGHT SIDE (Pie) -->
  <div class="col-lg-3">
    <div class="card p-3 chart-wrapper">
      <div class="chart-container">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>

    </div>
  </div>
  <!-- report -->
  <div class="card p-4 my-4">
              <h3 class="text-center mb-4">Production Report</h3>

              <div class="row justify-content-center">
                <div class="col-md-4">
                  <input
                    type="date"
                    id="reportDate"
                    class="form-control mb-2"
                  />
                </div>
                <div class="col-md-2">
<button class="btn btn-success w-100" onclick="generateReport()">
  Print
</button>                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>ion>

</div>
</section>

    

  

    <button id="themeToggleBtn" class="theme-float">
      <i class="fa-solid fa-moon" id="themeIcon"></i>
    </button>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>